[submodule "3rd/skynet"]
	path = 3rd/skynet
	url = https://github.com/sendysucc/skynet.git
[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/sendysucc/lua-cjson.git
[submodule "lua-cjson"]
	path = lua-cjson
	url = https://github.com/sendysucc/lua-cjson.git
